extends index

block content
  table#skuDetails.table.table-condensed.table-bordered.table-condensed
    thead
      tr
        th(width="5%") 
          p Task Id
        th(width="10%")
          p Date of Stock Handover
        th(width="5%") 
          p No Of SKU
        th(width="15%")
          p Brand Name
        th(width="20%") 
          p Catalogue Name
        th(width="20%")
          p Content Writer
        th(width="25%")
          p Links
    tbody#catalogContent
    - each entry in allEntries 
      tr
        td
          - if(entry.stock_arrival_date)
            a(href='/form/complete/#{entry.id}') #{entry.id}
        td
          - if(entry.stock_arrival_date === null)
            p.small-text Incomplete
          - else
            p.small-text #{entry.stock_arrival_date}
        td
          - if(entry.no_of_sku === null)
            p.small-text Incomplete
          - else
            p.small-text  #{entry.no_of_sku}
        td
          - if(entry.brands === null)
            p.small-text Incomplete
          - else
            p.small-text #{entry.brands}
        td
          - if(entry.catalog_name=== null)
            p.small-text Incomplete
          - else
            p.small-text #{entry.catalog_name}
        td
          - if(entry.content_asignee=== null)
            p.small-text Incomplete
          - else
            p.small-text #{entry.content_asignee}
        td
          include linkCol 
    
