extends index

block content
  form.form-horizontal(action="/dashboard", method="get")
    div.control-group
      label.control-label(for="entryId") Entry Id :
      div.controls
        input(type="text", name="entryId", id="entryId", readonly="readonly", value="#{entry.id}")
    div.control-group
      label.control-label(for="stockArrDate") Stock Arrival Date :
      div.controls
        input(type="text", name="stockArrDate", id="stockArrDate", readonly="readonly", value="#{entry.stock_arrival_date}")
    div.control-group
      label.control-label(for="brands") Brands :
      div.controls
        input(type="text", name="brands", id="brands", readonly="readonly", value="#{entry.brands}")
    div.control-group
      label.control-label(for="sheetNumber") Sheet Number :
      div.controls
        input(type="text", name="sheetNumber", id="sheetNumber", readonly="readonly", value="#{entry.sheet_no}")
    div.control-group
      label.control-label(for="noOfSku") No. Of SKU :
      div.controls
        input(type="text", name="noOfSku", id="noOfSku", readonly="readonly", value="#{entry.no_of_sku}")
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="contentAssignee") Content Assignee :
      div.controls
        input(type="text", name="contentAssignee", id="contentAssignee", readonly="readonly", value="#{entry.content_asignee}")
    div.control-group
      label.control-label(for="contentAssignDateEntry") Content Assign Date :
      div.controls
        input(type="text", name="contentAssignDateEntry", id="contentAssignDateEntry", readonly="readonly", value="#{entry.content_assign_date}")
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="catalogName") Catalog Name :
      div.controls
        input(type="text", name="catalogName", id="catalogName", readonly="readonly", value="#{entry.catalog_name}")
    div.control-group
      label.control-label(for="catalogSubDateEntry") Catalog Submission Date :
      div.controls
        input(type="text", name="catalogSubDateEntry", id="catalogSubDateEntry", readonly="readonly", value="#{entry.catalog_submission_date}") 
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="photoCompDateEntry") Photo Completion Date :
      div.controls
        input(type="text", name="photoCompDateEntry", id="photoCompDateEntry", readonly="readonly", value="#{entry.photo_complete_date}")
    div.control-group
      label.control-label(for="noOfImages") No. Of Images :
      div.controls
        input(type="text", name="noOfImages", id="noOfImages", readonly="readonly", value="#{entry.no_of_images}")
    div.control-group
      label.control-label(for="editAssigTo") Editing Assigned To :
      div.controls
        input(type="text", name="editAssigTo", id="editAssigTo", readonly="readonly", value="#{unescape(entry.editing_assigned_to)}")
    div.control-group
      label.control-label(for="rawImgLocation") Raw Image Location :
      div.controls
        input(type="text", name="rawImgLocation", id="rawImgLocation", readonly="readonly", value="#{unescape(entry.raw_image_location)}")
    div.control-group
      label.control-label(for="imgAssignDateEntry") Image Assignment Date :
      div.controls
        input(type="text", name="imageAssignDateEntry", id="imageAssignDateEntry", readonly="readonly", value="#{entry.image_assignment_date}")
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="editCompDateEntry") Editing Completion Date :
      div.controls
        input(type="text", name="editCompDateEntry", id="editCompDateEntry", readonly="readonly", value="#{entry.editing_completion_date}")
    div.control-group
      label.control-label(for="editedImagePath") Edited Image Path :
      div.controls
        input(type="text", name="editedImagePath", id="editedImagePath", readonly="readonly", value="#{unescape(entry.edited_image_path)}")
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="approvedImgPath") Approved Image Path :
      div.controls
        input(type="text", name="approvedImgPath", id="approvedImgPath", readonly="readonly", value="#{unescape(entry.approved_image_path)}")
    div.control-group
      label.control-label(for="approvedImgs") Approved Images :
      div.controls
        input(type="text", name="approvedImgs", id="approvedImgs", readonly="readonly", value="#{entry.approved_images}")
    div.control-group
      label.control-label(for="approvedDateEntry") Approved Date :
      div.controls
        input(type="text", name="approvedDateEntry", id="approvedDateEntry", readonly="readonly", value="#{entry.approved_date}")
    div.control-group
      label.control-label(for="rating") Rating :
      div.controls
        input(type="text", name="rating", id="rating", readonly="readonly", value="#{entry.rating}")
    p ----------------------------------------------------------------------------------------------
    div.control-group
      label.control-label(for="launchComplete") Launch Complete :
      div.controls
        - if(entry.launch_complete === 1)
          input(type="text", name="launchComplete", id="launchComplete", readonly="readonly", value="Yes")
        - else
          input(type="text", name="launchComplete", id="launchComplete", readonly="readonly", value="No")
    div.control-group
      label.control-label(for="launchDateEntry") Launch Date:
      div.controls
        input(type="text", name="launchDateEntry", id="launchDateEntry", readonly="readonly", value="#{entry.launch_date}")
    p ----------------------------------------------------------------------------------------------
    input.btn.btn-primary(type="submit", value="OK")
